<h1>Books#index</h1>
<h2>User info</h2>
  <!--profile画像の表示-->
  <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
<table class="table">
  <tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <!--＠モデル.カラム名-->
	  <th><%= @user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= @user.introduction %></th>
  </tr>
</tbody>
</table>
  <p><%= link_to "user setting",edit_user_path(@user) %></p>

  <h2>New book</h2>
  <%= form_with do |f| %>
    <label for="book_title">Title</label>
    <%= f.text_field :title %>

    <label for="book_opinion">Opinion</label>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book'%>
  <% end %>
